@import './_reset.scss';
@import './_fonts.scss';

$mainFont: 'Rubik', sans-serif;

body {
  font-family: $mainFont;
  background-image: url('../assets/img/bg-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
