/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("../assets/fonts/Rubik/stylesheet.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  min-width: 320px;
  font-family: "Rubik", sans-serif;
  background-image: url("../assets/img/bg-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.menu {
  position: relative;
  width: 100%;
  max-width: 82px;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding-top: 40px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  transition: 0.5s;
  z-index: 99;
}
.menu__toggler {
  position: absolute;
  right: -7px;
  top: 52px;
  background-color: #576aca;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__top {
  width: 100%;
  border-bottom: 0.5px solid rgba(173, 173, 173, 0.5);
  padding-bottom: 15px;
}
.menu__profile {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.menu__profile-picture {
  width: 35px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.menu__profile-name {
  width: 100%;
  opacity: 0;
  max-width: 0%;
  white-space: nowrap;
  overflow: hidden;
  color: #576aca;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.5s ease-in-out;
}
.menu__middle {
  width: 100%;
  padding-top: 30px;
}
.menu__nav {
  width: 100%;
  margin-bottom: 32px;
}
.menu__nav-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 30px;
}
.menu__nav-item {
  width: 100%;
}
.menu__nav-item-link {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: 0.5s;
}
.menu__nav-item-link--active .menu__nav-link {
  color: #576aca;
}
.menu__nav-item-link--active .menu__nav-item-icon svg,
.menu__nav-item-link--active .menu__nav-item-icon path {
  fill: #576aca;
}
.menu__nav-item-link:hover .menu__nav-link {
  color: #576aca;
}
.menu__nav-item-link:hover .menu__nav-item-icon svg,
.menu__nav-item-link:hover .menu__nav-item-icon path {
  fill: #576aca;
}
.menu__nav-item-icon {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__nav-link {
  max-width: 0%;
  overflow: hidden;
  transition: 0.23s;
  color: #8d8d8d;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}
.menu__bottom {
  width: 100%;
  margin-top: auto;
}
.menu__item {
  width: 100%;
  display: flex;
  align-items: center;
}
.menu--active {
  max-width: 243px;
}
.menu--active .menu__toggler {
  transform: rotate(-180deg);
}
.menu--active .menu__profile-name {
  overflow: visible;
  max-width: 100%;
  opacity: 1;
}
.menu--active .search-form__input {
  width: 100%;
  padding: 11px 10px 10px 35px;
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
  color: #fff;
}
.menu--active .search-form__input::-moz-placeholder {
  color: #fff;
}
.menu--active .search-form__input::placeholder {
  color: #fff;
}
.menu--active .menu__nav-link {
  max-width: 100%;
}
.menu--active .menu__nav-item-link {
  justify-content: start;
}

.search-form {
  width: 100%;
}
.search-form__fieldset {
  width: 100%;
}
.search-form__input {
  width: 35px;
  height: 35px;
  border: none;
  background: none;
  border-radius: 10px;
  background: #576aca;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-image: url("../assets/svg/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: left 10px center;
  transition: 0.23s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: transparent;
}
.search-form__input:focus {
  background-color: #6376d3;
  outline: none;
}
.search-form__input::-moz-placeholder {
  color: transparent;
  -moz-transition: 0.23s;
  transition: 0.23s;
}
.search-form__input::placeholder {
  color: transparent;
  transition: 0.23s;
}

.navigation {
  position: fixed;
  top: 40px;
  right: 37px;
}
.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  gap: 14.62px;
}
.navigation__list-item:hover .navigation__list-item-descr {
  opacity: 1;
  visibility: visible;
}
.navigation__list-item:hover .navigation__list-item-icon svg,
.navigation__list-item:hover .navigation__list-item-icon path {
  fill: #576aca;
}
.navigation__list-item-link {
  display: flex;
  align-items: center;
  gap: 21px;
}
.navigation__list-item-descr {
  padding: 12px 19px 14px 19px;
  color: #8d8d8d;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0;
  visibility: hidden;
  transition: 0.23s;
}
.navigation__list-item-icon {
  width: 83px;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}
.navigation__list-item-icon svg,
.navigation__list-item-icon path {
  transition: 0.23s;
}

.center {
  display: flex;
}

.popup {
  margin: auto;
  position: relative;
  padding: 38px 59px 43px;
  width: 100%;
  max-width: 422px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  visibility: hidden;
  display: none;
}
.popup--active {
  display: initial;
  opacity: 1;
  visibility: visible;
}
.popup__close-btn {
  border: none;
  background: none;
  position: absolute;
  top: 21px;
  right: 24px;
  cursor: pointer;
}
.popup__heading {
  width: 100%;
  margin-bottom: 44px;
  color: #576aca;
  font-family: "Rubik", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 105.5%; /* 29.54px */
}
.popup__login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.popup__login-form-fieldset {
  width: 100%;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 5px;
}
.popup__login-form-label {
  color: #000;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
}
.popup__login-form-text-input {
  width: 100%;
  padding: 15px 15px 15px 48px;
  border: none;
  background: none;
  border-radius: 5px;
  background: #d7ddff;
  color: #576aca;
  leading-trim: both;
  text-edge: cap;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: left 11px center;
  transition: 0.23s;
}
.popup__login-form-text-input:focus {
  background-color: #e6eaff;
  outline: none;
}
.popup__login-form-text-input::-moz-placeholder {
  color: #576aca;
}
.popup__login-form-text-input::placeholder {
  color: #576aca;
}
.popup__login-form-text-input--login {
  background-image: url("../assets/svg/person-icon.svg");
}
.popup__login-form-text-input--pass {
  background-image: url("../assets/svg/pass-icon.svg");
}
.popup__login-form-row {
  width: 100%;
  margin-bottom: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup__login-form-row-el-label {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #000;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.popup__login-form-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid #000;
  transition: 0.23s;
}
.popup__login-form-submit-btn {
  width: 100%;
  padding: 12px;
  height: 41px;
  border-radius: 5px;
  background: #576aca;
  cursor: pointer;
  color: #fff;
  font-family: "Rubik", sans-serif;
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.23s;
}
.popup__login-form-submit-btn:active {
  transform: scale(0.95);
}
.popup__login-form-submit-btn:hover {
  background-color: #6376d3;
}
.popup__login-form-register-link {
  margin: 0 auto;
  margin-top: 38px;
  padding-bottom: 6px;
  color: #000;
  font-family: "Rubik", sans-serif;
  border-bottom: 1px solid #576aca;
  color: #576aca;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.popup__login-form-link {
  color: #000;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.popup__login-form-checkbox-input:checked + .popup__login-form-checkbox {
  background-image: url("../assets/svg/check-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: 0.23s;
  background-image: url("../assets/img/bg-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: auto;
  padding: 32px;
}
.overlay--active {
  opacity: 1;
  visibility: visible;
}

.modal--active {
  opacity: 1 !important;
  visibility: visible !important;
}

.popup--login.modal--active {
  display: block !important;
}

.container.modal--active {
  display: block !important;
}

.container {
  width: 100%;
  max-width: 1349px;
  padding: 35px 80px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9);
  margin: auto;
  opacity: 0;
  display: none;
  visibility: hidden;
  transition: 0.23s;
}
.container--active {
  opacity: 1;
  visibility: visible;
}
.container__header {
  width: 100%;
  margin-bottom: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container__heading {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px 25px;
  border-radius: 5px;
  background: #576aca;
}
.container__close-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__close-btn {
  background: none;
  display: flex;
  align-items: center;
  gap: 13px;
  border: none;
  color: #576aca;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.container__main {
  width: 100%;
}
.container__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container__filters {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container__filters-select {
  width: 100%;
  padding: 12px 17px;
  color: #576aca;
  leading-trim: both;
  text-edge: cap;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
  background: #fff;
  border: none;
}
.container__filters-select:focus {
  outline: none;
}
.container__date {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container__date-btn {
  padding: 9px 20px 8px;
  color: #576aca;
  font-family: "Rubik", sans-serif;
  border-radius: 5px;
  background: #fff;
  border: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: 0.23s;
  outline: 1px solid transparent;
}
.container__date-btn:active {
  background-color: #576aca;
  color: #fff;
  transform: scale(0.95);
}
.container__date-btn:hover {
  outline: 1px solid #576aca;
}
.container__date-choose-btn {
  padding: 9px 16px 8px 47px;
  border-radius: 5px;
  background: #fff;
  color: #576aca;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-repeat: no-repeat;
  background-position: left 13.5px center;
  background-size: 19.5px 19.5px;
  background-image: url("../assets/svg/date-icon.svg");
  transition: 0.23s;
  outline: 1px solid transparent;
  cursor: pointer;
}
.container__date-choose-btn:active {
  background-color: #576aca;
  color: #fff;
  transform: scale(0.95);
}
.container__date-choose-btn:hover {
  outline: 1px solid #576aca;
}
.container__list {
  width: 100%;
  margin-top: 23px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  max-height: 652px;
  overflow-y: auto;
  padding-right: 28px;
}
.container__list::-webkit-scrollbar {
  width: 25px;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  border: 0.5px solid #868686;
}
.container__list::-webkit-scrollbar-thumb {
  width: 100%;
  height: 20px;
  background: #868686;
  border-radius: 5px;
}
.container__list::-webkit-scrollbar-button:vertical:start:decrement {
  width: 25px;
  height: 27px;
  background-image: url(../assets/svg/up.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.container__list::-webkit-scrollbar-button:vertical:end:decrement {
  width: 25px;
  height: 27px;
  background-image: url(../assets/svg/down.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.container__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  border-radius: 5px;
  background: #576aca;
  overflow: hidden;
}
.container__card-img {
  width: 100%;
  height: 144px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.container__card-body {
  width: 100%;
  padding: 17px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.container__card-type {
  margin-bottom: 8px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 109%;
  padding-bottom: 3px;
  border-bottom: 0.5px solid #fff;
}
.container__card-heading {
  width: 100%;
  margin-bottom: 15px;
  color: #fff;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 114%; /* 18.24px */
}
.container__card-info-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.container__card-info-list-item {
  color: rgba(255, 255, 255, 0.4);
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 109%; /* 13.08px */
  padding-left: 28.09px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}
.container__card-info-list-item--location {
  background-image: url("../assets/svg/map-icon.svg");
}
.container__card-info-list-item--time {
  background-image: url("../assets/svg/time-icon.svg");
}
.container__card-link {
  margin-left: auto;
  margin-top: 18px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  padding-bottom: 3px;
  border-bottom: 0.5px solid #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1280px) {
  .container__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .container__filters-select,
  .container__date-btn,
  .container__date-choose-btn {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .container__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1023px) {
  .container__heading {
    font-size: 18px;
  }
  .container__row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .container__date {
    justify-content: end;
  }
}
@media (max-width: 960px) {
  .navigation__list-item-descr {
    padding: 9px 13px;
    font-size: 18px;
  }
  .navigation__list-item-icon {
    width: 64px;
    height: 64px;
  }
  .navigation__list-item-icon svg {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 35px 48px;
  }
  .container__heading {
    font-size: 14px;
  }
  .container__filters {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container__list {
    grid-template-columns: 1fr;
    padding-right: 10px;
  }
  .close-btn {
    font-size: 14px;
  }
  .navigation__list-item-link {
    gap: 16px;
  }
  .navigation__list-item-descr {
    padding: 9px 13px;
    font-size: 18px;
  }
  .navigation__list-item-icon {
    width: 48px;
    height: 48px;
  }
  .navigation__list-item-icon svg {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 545px) {
  .container__close-btn {
    margin-left: auto;
  }
  .container__heading {
    width: 100%;
    text-align: center;
  }
  .container__header {
    flex-direction: column-reverse;
    gap: 32px;
  }
}
@media (max-width: 475px) {
  .popup {
    padding: 52px 22px 43px;
  }
  .overlay {
    padding: 16px;
  }
  .container__filters-select {
    padding: 8px;
  }
  .container {
    padding: 35px 21px;
  }
  .navigation__list-item-link {
    gap: 16px;
  }
  .navigation__list-item-descr {
    padding: 5px 9px;
    font-size: 14px;
  }
  .navigation__list-item-icon {
    width: 48px;
    height: 48px;
  }
  .navigation__list-item-icon svg {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 375px) {
  .container__filters-select {
    padding: 8px;
  }
  .container__date-choose-btn {
    padding: 9px 10px 8px 40px;
  }
  .container__date-btn {
    padding: 9px 13px;
  }
  .container__date {
    justify-content: space-between;
    gap: 0px;
  }
  .container {
    padding: 35px 12px;
  }
  .navigation__list-item-link {
    gap: 16px;
  }
  .navigation__list-item-descr {
    padding: 5px 9px;
    font-size: 14px;
  }
  .navigation__list-item-icon {
    width: 48px;
    height: 48px;
  }
  .navigation__list-item-icon svg {
    width: 24px;
    height: 24px;
  }
}
@media (max-height: 650px) {
  .menu {
    overflow-y: auto;
  }
  .menu__toggler {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */